html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 1100px;


}

nav {
  width:auto;
  height: auto;
  background-color: #FFA492;
  color:white;
  text-align: right;
  padding: 10px 115px 10px 0px;
  font-size: 15px;
  font-family: cursive;
  letter-spacing: 1px;


}
header {
  width: 75%;
  margin: 0 auto;
  height: auto;
  color: #FFA492;
  font-size: 36px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  font-family: 'Monoton' , glyph;
  letter-spacing: 4px;
}

.albumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: center;
  margin: 0 auto;
  height: auto;
  width: 60%;
  padding-top: 25px;
  background-image: url("http://media.gettyimages.com/videos/microphone-video-id146086064?s=640x640");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}



.albumContainer > img {
  width:150px;
  height:150px;
  background-size: cover;
  opacity: .7;
  margin:10px;


}

.albumContainer > img:hover {
  opacity: 1.0;
  cursor: pointer;
  border-bottom: 2px solid #FFA492;

}
.middle {
  width: 100%;
  margin: 0 auto;
  height:auto;
  display: flex;
  align-content: center;
  justify-content: center;




}
.middle > img {
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 60%;


}
